# sets

In [1]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y) 

print(x)

{'banana', 'cherry'}

In [2]:
set = {"apple", "banana", "cherry"}

set.discard("banana")

print(set)

{'cherry', 'apple'}

In [3]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y) 

print(z)

{'apple'}

In [5]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook","banana"}

z = x.isdisjoint(y) 

print(z)
#Return True if no items in set x is present in set y:

False

In [7]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", }

z = x.issubset(y) 

print(z)
#Return True if all items set x are present in set y:

False

In [8]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y) 

print(z)
#Return True if all items set y are present in set x:

True

In [9]:
fruits = {"apple", "banana", "cherry"}

fruits.pop() 

print(fruits)
#Remove a random item from the set:

{'cherry', 'apple'}

In [10]:
#Remove "banana" from the set:

fruits = {"apple", "banana", "cherry"}

fruits.remove("banana") 

print(fruits)

{'cherry', 'apple'}

In [1]:
#Return a set that contains all items from both sets, except items that are present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y) 

print(z)

{'microsoft', 'google', 'banana', 'cherry'}

In [4]:
#Return a set that contains all items from both sets, duplicates are excluded:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y) 

print(z)

{'microsoft', 'apple', 'google', 'banana', 'cherry'}

In [5]:
#Insert the items from set y into set x:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y) 

print(x)

{'microsoft', 'apple', 'google', 'banana', 'cherry'}

# Dictionary

In [6]:
#Create and print a dictionary:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [9]:
#Get the value of the "model" key:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [12]:
dict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

dict["year"] = 2018

print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [13]:
dict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in dict:
  print(x)

brand
model
year

In [14]:
dict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in dict.values():
  print(x)

Ford
Mustang
1964

In [15]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in dict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [16]:
dict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(len(dict))

3

In [17]:
dict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict["color"] = "red"
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [18]:
dict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict.pop("model")
print(dict)

{'brand': 'Ford', 'year': 1964}

In [19]:
dict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del dict["model"]
print(dict)

{'brand': 'Ford', 'year': 1964}

In [20]:
dict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict.clear()
print(dict)

{}

In [24]:
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [26]:
#A dictionary can also contain many dictionaries, this is called nested dictionaries.
myfamily = {
  "child1" : {
    "name" : "ravali",
    "year" : 2004
  },
  "child2" : {
    "name" : "hruday",
    "year" : 2007
  },
  "child3" : {
    "name" : "gopi",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'ravali', 'year': 2004}, 'child2': {'name': 'hruday', 'year': 2007}, 'child3': {'name': 'gopi', 'year': 2011}}

In [28]:
#Create a dictionary with 3 keys, all with the value 0:

x = ('key1', 'key2', 'key3')
y = 0

dict = dict.fromkeys(x, y)

print(dict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [29]:
#Get the value of the "model" item:

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")

print(x)

Mustang

In [30]:
#Return the dictionary's key-value pairs:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [4]:
#Return the keys:

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [5]:
#Remove the last item from the dictionary:

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.popitem()

print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [8]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("kid", "Bronco")

print(x)
print(car)

Bronco
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'kid': 'Bronco'}

# loops

In [34]:
# Print  all the even numbers in the given range
i=1
while i<=10:
    if i%2==0:
        print(i)
    else:
        pass
    i+=1

2
4
6
8
10

In [39]:
#Print all the odd numbers in the given range
n=int(input("enter a number:"))
for i in range(1,n+1):
    if i%2!=0:
        print(i,end=" ")

enter a number:16
1 3 5 7 9 11 13 15

In [42]:
a="123456"
for i in a:
    if int(i)%2==0:
        print(i,end="-")

2-4-6-

In [1]:
#Print the sum of even numbers in the given range
n=int(input("enter a value:"))
sum=0
for i in range(1,n+1):
    if i%2==0:
        sum=sum+i
else:
        pass
print("sum of even numbers in10 the given range",sum)

enter a value:10
sum of even numbers in10 the given range 30

In [3]:
#Multiplicative table for the given number
x=int(input("enter a value:"))
for i in range(1,11):
    print(x,"*",i,"=",x*i)

enter a value:12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120